nav.navbar.navbar-expand-lg.bg-warning
    .container-fluid.d-flex.py-1
        a.navbar-brand(href='/').fw-bold TPTravel

        #navbarNav.collapse.navbar-collapse
            ul.mx-auto.navbar-nav
                li.nav-item
                    a.nav-link(href="/") Trang chủ
                li.nav-item
                    a.nav-link(href="/categories") Danh mục
                
        if (user)
            .group 
                a(href="/cart" class="btn btn-primary me-3" style="position:relative;") 
                    span(
                        style="position:absolute; top:-10px; right:-5px; width: 25px; height: 25px; border-radius: 50%; display: flex; align-items: center; justify-content: center;"
                        class="badge bg-danger"
                    ) 0
                    i(class="fa-solid fa-cart-shopping")
                a(href="/user/profile") #{user.fullName}
                a(href="/users/friends" class="d-inline-block ms-3") Bạn bè
                a(href="/user/logout" class="btn btn-warning") Đăng xuất
        else
            .group
                a(href="/cart" class="btn btn-primary me-3" style="position:relative;") 
                    span(
                        style="position:absolute; top:-10px; right:-5px; width: 25px; height: 25px; border-radius: 50%; display: flex; align-items: center; justify-content: center;"
                        class="badge bg-danger"
                    ) 0
                    i(class="fa-solid fa-cart-shopping")
                a(href="/user/register" class="btn btn-warning") Đăng kí
                a(href="/user/login" class="btn btn-warning") Đăng nhập

        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
